.chat-area {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow: auto;
  height: 400px;
}

.message {
  max-width: 60%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 15px;
}

.message.received {
  align-self: flex-start;
  background-color: #95bf47; /* shopify green */
  color: white;
}

.message.sent {
  align-self: flex-end;
  background-color: #d4d4d4; /* gray */
  color: black;
}
